body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #f9f9f9;
    margin: 60px 60px;
}

.container{
    background-color: white;
    border: 1px solid #c2b7b7;
    border-radius: 8px;
    padding: 30px;
    width: 500px;
    box-sizing: border-box;
}

.container h2{
    font-size: 30px;
    font-weight: 100;
}

.container p{
    font-size: 20px;
    color: rgb(158, 146, 146);
}

.profiles{
    margin-bottom: 20px;
}

.profiles img{
    margin-top: 20px;
    border-radius: 50%;
    width: 19%;
    height: 19%;
}

.images1{
    margin-left: 40px;
}
.images2{
    margin-left: 70px;
}

.see-profiles{
    margin-top: 50px;
    color: #1a73e8;
}

.see-profiles a{
    font-size: 22px;
    text-decoration: none;
}